[Unit]
Description=Weekly reclaim of Docker space
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
Environment=PATH=/usr/local/bin:/usr/bin:/bin
ExecStart=/bin/bash /opt/subquery/scripts/reclaim_docker_space.sh
User=alex
